.admin-grid {
    display:grid;
    grid-template-columns: 230px 1fr;
    grid-gap:25px;
}

@for $i from 2 to 13 {
    .grid-#{$i}-l {
        display:grid;
        grid-template-columns:repeat($i, 1fr);
    }
    .grid-#{$i}-m {
        display:grid;
        grid-template-columns:repeat($i, 1fr);
    }
    .grid-#{$i}-s {
        display:grid;
        grid-template-columns:repeat($i, 1fr);
    }
    .grid-#{$i}-xs {
        display:grid;
        grid-template-columns:repeat($i, 1fr);
    }
}

@media screen and (max-width:1350px) {
    @for $i from 2 to 13 {
        .grid-#{$i}-l {
            display:grid;
            grid-template-columns:repeat(floor($i/2), 1fr);
        }
    }
}

@media screen and (max-width:1080px) {
    @for $i from 4 to 13 {
        .grid-#{$i}-l {
            display:grid;
            grid-template-columns:repeat(floor($i/4), 1fr);
        }
    }

    @for $i from 2 to 13 {
        .grid-#{$i}-m {
            display:grid;
            grid-template-columns:repeat(floor($i/2), 1fr);
        }
    }
}

@media screen and (max-width:720px) {
    @for $i from 8 to 13 {
        .grid-#{$i}-l {
            display:grid;
            grid-template-columns:repeat(floor($i/8), 1fr);
        }
    }

    @for $i from 4 to 13 {
        .grid-#{$i}-m {
            display:grid;
            grid-template-columns:repeat(floor($i/4), 1fr);
        }
    }

    @for $i from 2 to 13 {
        .grid-#{$i}-s {
            display:grid;
            grid-template-columns:repeat(floor($i/2), 1fr);
        }
    }
}

@media screen and (max-width:400px) {
    @for $i from 8 to 13 {
        .grid-#{$i}-m {
            display:grid;
            grid-template-columns:repeat(floor($i/8), 1fr);
        }
    }

    @for $i from 4 to 13 {
        .grid-#{$i}-s {
            display:grid;
            grid-template-columns:repeat(floor($i/4), 1fr);
        }
    }
}